.contenedor-padre{
    background-color: #ff7e38;
}

h5{
    color: #fff;
    font-size: 35px;
}

.img-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:100px ;
    
}

.contenedor img {
    width: 100%;
    height: auto;
    border-radius: 0 0 20px 20px;
}

.borde{
    background-color:#3462b1;
    border: solid 2px rgba(7, 7, 7, 0.534);
    border-radius: 30px;
}

#qr-canvas {
    width: 200px; /* Tamaño inicial del canvas */
    height: 200px; /* Tamaño inicial del canvas */
}

.contenedor-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ancho{
    width: 350px;
}